@import './utils/utils';
@import './components/components';

* {
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
  padding: 60px 40px 30px 40px;
  display: grid;
  gap: 100px;

  @include onDesktop {
   padding-bottom: 30px;
  }

  grid-template-columns: 350px auto;

  @include onDesktop {
    gap: 0;

  }
}